@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to left, rgba(7,27,82,1) 0%, rgba(0,128,100,1) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1{
	font-family: 'Press Start 2P';
	color: rgba(10,25,125,0.8);
	text-shadow: 2px 2px rgba(255,255,255,0.4);
	font-weight: 500;
	font-size: 2.5em;
}
